
@font-face {
  font-family: 'alpha_echoregular';
  src: url('../fonts/alpha_echo-webfont.eot');
  src: url('../fonts/alpha_echo-webfont.woff') format('woff'),
       url('../fonts/alpha_echo-webfont.ttf') format('truetype'),
       url('../fonts/alpha_echo-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(../img/star-wars-backgrounds-25.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.subtitle {
  font-size: 50px;
}

.text {
  font-size: 30px;
}


.container{
  position: absolute;
  width: 700px;
  height: 1300px;
  bottom: 0;
  left: 50%;
  margin-left: -350px;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
  }

  .animation {
  margin: 0 auto;
  
  text-align: center;
  position: absolute;
  top: 100%;
  animation: star-wars 30s linear infinite;
  }

  h1 {
    font-family: 'alpha_echoregular';
    color: rgb(248, 212, 7);
    font-size: 80px;
    margin-bottom: 80px;
  }

  h2 {
    font-family: 'alpha_echoregular';
    color: rgb(248, 212, 7);
    font-size: 60px;
    margin-bottom: 80px;
  }
   
  p {
    font-family: 'alpha_echoregular';
    color: rgb(248, 212, 7);
    font-size: 30px;
    margin-bottom: 80px;
  }
    @keyframes star-wars {
    from 
    { top: 100%; 
    }
    to { top: -100%; 
    }
  }

  audio {
    opacity: -1;
    pointer-events: none;
    z-index: -1;
  }